button {
	width: fit-content;
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	border-radius: 5px;
	font-size: 14px;
	font-weight: 400;
	border: none;
	outline: none;
	color: #fff;
	cursor: pointer;

	i {
		font-size: 14px;
	}
}
