.workspaceDetailsPage {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: calc(100vh - 60px);
	overflow: hidden;
	// border: 1px solid yellow;

	.workspaceSidebar {
		width: 300px;
		height: 100vh;
		padding: 10px;
		background-color: #1d2125;

		&__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			padding: 5px;
			border-bottom: 1px solid #333c44;

			img {
				width: 40px;
				height: 40px;
				border-radius: 10%;
			}

			p {
				font-size: 18px;
				font-weight: 600;
			}

			.collapse_icon {
				font-size: 14px;
				cursor: pointer;
				padding: 5px 10px;

				&:hover {
					background-color: #333c44;
					border-radius: 5px;
				}
			}
		}

		.projectList {
			display: flex;
			flex-direction: column;

			&__header {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				padding: 10px;

				p {
					font-size: 16px;
					font-weight: 600;
				}

				.createProjectBtn {
					display: flex;
					align-items: center;
					gap: 5px;
					border-radius: 5px;
					padding: 5px;

					&:hover {
						background-color: #333c44;
					}
				}
			}

			&__content {
				display: flex;
				flex-direction: column;
				gap: 10px;

				.projectCard {
					display: flex;
					align-items: center;
					border-radius: 5px;
					padding: 5px;
					color: #fff;

					&:hover {
						background-color: #333c44;
						cursor: pointer;
					}

					&.active {
						background-color: #333c44;
					}

					p {
						font-size: 16px;
					}
					img {
						margin-right: 10px;
						width: 40px;
						height: 30px;
						object-fit: contain;
					}
				}
			}
		}
	}

	.workspaceMiniSidebar {
		position: relative;
		height: 100vh;
		width: 20px;
		padding: 10px;
		// border: 1px solid red;
		background-color: #1d2125;
		z-index: 10;

		.open_sidebar_btn {
			position: absolute;
			right: -12px;
			top: 20px;
			background-color: #1d2125;
			border: 1px solid #333c44;
			border-radius: 15px;
			width: 25px;
			height: 25px;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;

			i {
				font-size: 12px;
			}
		}
	}

	.workspaceBody {
		background-color: #60436f;

		&__header {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			height: 60px;
			padding: 10px;
			background-color: #493354;

			&__left {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 100%;
			}

			&__right {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 100%;
			}

			.headerItem {
				display: flex;
				justify-content: center;
				align-items: center;
				height: 40px;
				padding: 5px 10px;
				border-radius: 5px;
				cursor: pointer;

				&:hover {
					background-color: #333c44;
				}
			}
		}

		&__content {
			display: flex;
			padding: 10px;
			gap: 10px;
			height: calc(100vh - 120px);
			overflow-x: auto;
			flex-wrap: nowrap;

			.board {
				display: flex;
				flex-direction: column;
				width: 300px;
				height: fit-content;
				background-color: #101204;
				border-radius: 10px;
				padding: 5px;

				&__header {
					display: flex;
					flex-direction: row;
					justify-content: space-between;
					align-items: center;
					padding: 10px;

					p {
						font-size: 16px;
						font-weight: 600;
					}
				}

				&__content {
					display: flex;
					flex-direction: column;
					gap: 10px;

					.card {
						display: flex;
						flex-direction: row;
						padding: 5px;
						border-radius: 5px;
						background-color: #22272b;
						border: 1px solid #22272b;

						&:hover {
							border: 1px solid #85b8ff;
							cursor: pointer;
						}

						p {
							font-size: 14px;
							font-weight: 600;
						}

						.addCardBtn {
							display: flex;
							justify-content: center;
							align-items: center;
							gap: 5px;
						}
					}
				}
			}
		}
	}

	.modal__cardDetails {
		display: flex;
		flex-direction: column;
		gap: 10px;

		.modal__body {
			width: 100%;

			.modal__body__item {
				display: flex;
				flex-direction: row;
				align-items: center;
				gap: 15px;
				width: 100%;

				i {
					font-size: 20px;
				}

				.modal__body__item__content {
					display: flex;
					flex-direction: column;
					gap: 5px;

					.modal__body__item__content__input {
						width: 100%;
						padding: 10px 15px;
						border-radius: 5px;
						border: 1px solid #45505a;
					}

					p {
						font-size: 16px;
						font-weight: 600;
					}

					.noDescription {
						width: 100%;
						font-size: 16px;
						font-weight: 600;
						padding: 10px 15px;
						border-radius: 5px;
						background-color: #45505a;
					}
				}
			}
		}
	}
}
